div {
  padding: 1%;
  padding-top: 2%;
  width: 98%;
}

hr {
  border: 1px solid #00000020;
  width: 100%;
}

input {
  padding: 10px;
  width: auto;
  height: auto;
}

textarea {
  /* padding: 10px; */
  width: 98%;
  /* height: 300px; */
}

.app {
  width: 98%;
  padding: 1%;
  border: 0px solid #000;
  box-sizing: border-box;
  background-color: #ffffff30;
}

.add {
  margin-top: 20px;
  background-color: #444;
  color: #fff;
  box-sizing: border-box;
  width: 60px;
  height: 25px;
  padding: 5px;
  border-radius: 4px; /*按鈕圓角*/
  border: 1px solid #aaa; /*按鈕描邊外框*/
  align-content: center;
}

.add:hover {
  background-color: #000;
}

.list {
  padding-top: 20px;
}

.item {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameBox{
  width: 90%;
}

.newDatasetDiv{
  width: 98%;
}

.remove {
  border: 0;
  background-color: rgb(212, 101, 101);
  color: #fff;
  padding: 10px;
}

.textbox{
  height: 8px;
}

.titleBox{
  width: 80%;
}

.input-field {
  padding: 0.5em 0.7em;
  border-radius: 0.1em;
  border: 1px solid var(--c-border, currentColor);
  color: var(--c-text);
  font-size: 1rem;
  letter-spacing: 0.1ch;
  width: 96%;
  margin: 5px 0 0 0px
}

.input-field1 {
  padding: 0.5em 0.7em;
  height: 90px;
  border-radius: 0.1em;
  border: 1px solid var(--c-border, currentColor);
  color: var(--c-text);
  font-size: 1rem;
  letter-spacing: 0.1ch;
  width: 96%;
  margin: 5px 0 0 0px
  
}