.background1{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.head{
  background-color: #E6D4AB;
  padding-left:3%;
  width: auto;
  height: auto;
}
.logo{
  width:90px;
  float: left;
  position: relative;
  bottom: 23px;
  right:10px;
}
h1{
  font-size: 40px;
}
/* .body {
  background-color: #ffdfb9;
  align-content: center;
} */
/* .table{
  background-color: #ffffff;
  opacity:0.25; 
} */
/* div {
  align-self: center;
} */
/* 
.background{
  width: auto;
  height: auto;
  background-color: #EEC39D;
  padding: 40px 20px;
  margin-top: auto;
}
.h1{
  color: black;
  left: 100px;
  top:100px;
  font-style: Kokoro;
}
.background1{
  width: auto;
  height: auto;
  background-color: #FFDFB9;
  padding: 300px 20px;
}
.buttonFile {
  padding: 10px 10px;
  background-color: #6C757D;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: auto;
  height: auto;
  border-color: white;
  border-width: 3px;
  margin-left: 20px;
  font-style: Kokoro;

}
.buttonFolder {
  padding: 10px 10px;
  background-color: #6C757D;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: auto;
  height: auto;
  border-color: white;
  border-width: 3px;
  margin-left: 10px;
  font-style: Kokoro;

}
.buttonUpload {
  padding: 10px 10px;
  background-color: green;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: auto;
  height: auto;
  border-color: white;
  border-width: 3px;
  margin-left: 800px;
  font-style: Kokoro;

}
.buttonReset {
  padding: 10px 10px;
  background-color: red;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: auto;
  height: auto;
  border-color: white;
  border-width: 3px;
  margin-left: 10px;
  font-style: Kokoro;

}
.table{
  background-color: #FFDFB9;
  margin-top: -300px;
  font-style: Kokoro;
  text-align: center;
  vertical-align: top;
} */
