.head{
  width: 100%;
}
input[type="file"] {
  display: none;
}
.flex-container-row {
  margin-top: 1rem;
  width: 95%;
  margin-left: 2.5%;
}
.btnFile {
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #6c757d;
  white-space: nowrap;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  
}

.btnReset {
  display: flex;
  align-items: center;
  background-color: #DC3545;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 7px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* 強制元素不分行 */
  /* height: 40px; */
  /* width: 90px; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 500px; */
  /* justify-content: space-around; */
  /* margin-top: -59px; */
}

.btnUpload {
  display: flex;
  align-items: center;
  background-color: #28A745;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 10px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* 強制元素不分行 */
  /* height: 40px; */
  /* width: 90px; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 500px; */
  /* justify-content: space-around; */
  /* margin-top: -59px; */
}

/* ============================= */
.hr {
  border: 3.5px solid rgb(87, 86, 15);
  opacity: 0.1;
}

div {
  margin: 0px;
}

.ready {
  color:rgb(106, 106, 247);
  font-weight: bold;
}
.success {
  color: rgb(0, 142, 0);
  font-weight: bold;
}
/* 以下複製測試 */
.wrap {
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.background {
  width: auto;
  height: auto;
  background-color: #eec39d;
  padding: 40px 20px;
  margin-top: auto;
}

.upload_head{
  background-color: #E6D4AB;
  width: auto;
}
.page{
  color: #6699A4;
}
.p{
  font-weight: bold;
  margin: 0px, 0px, 0px, 20%,;
}
/* content */
.upload-content{
  width: 95%;
  margin-left: 2.5%;;
  margin-top: 1.2rem;
}
.uploadfile-container {
  width: 100%;
}
/* .uploadfile-container {
  width: 80%;
  margin: 1rem auto;
} */
.uploadfile-container td {
  text-align: center;
}
.uploadfile-container thead tr th {
  background-color: #ffffff60;
  border-top: 0.1rem solid #00000033;
  border-bottom: 0.1rem solid #00000033;
  border-left: 0.1rem solid #bbbbbb;
}
.uploadfile-container thead tr th:first-child {
  border-left: none;
}
.uploadfile-container tbody tr td {
  background-color: #ffffff40;
  border-left: 0.1rem solid #bbbbbb;
}
.uploadfile-container tbody tr td:first-child {
  border-left: none;
}
.uploadfile-container tbody tr:nth-child(even) {
  background-color: #ffffff60;
}
