input[type="file"] {
  display: none;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
}
.btnFile {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #6c757d;
  color: white;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 10px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* width: 90px; */
  /* height: 40px; */
  /* border: 1px solid #dd5923; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 90px; */
  /* justify-content: space-around; */
}

.btnReset {
  display: flex;
  align-items: center;
  background-color: #DC3545;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 7px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* 強制元素不分行 */
  /* height: 40px; */
  /* width: 90px; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 500px; */
  /* justify-content: space-around; */
  /* margin-top: -59px; */
}

.btnUpload {
  display: flex;
  align-items: center;
  background-color: #28A745;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 10px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* 強制元素不分行 */
  /* height: 40px; */
  /* width: 90px; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 500px; */
  /* justify-content: space-around; */
  /* margin-top: -59px; */
}

/* ============================= */
.hr {
  border: 3.5px solid rgb(87, 86, 15);
  opacity: 0.1;
}

div {
  margin: 0px;
}

.ready {
  color:rgb(106, 106, 247);
  font-weight: bold;
}
.success {
  color: rgb(0, 142, 0);
  font-weight: bold;
}
/* 以下複製測試 */
.wrap {
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}



.background {
  width: auto;
  height: auto;
  background-color: #eec39d;
  padding: 40px 20px;
  margin-top: auto;
}

.upload_head{
  background-color: #E6D4AB;
  width: auto;
}
.page{
  color: #6699A4;
}
.p{
  font-weight: bold;
  margin: 0px, 0px, 0px, 20%,;
}
.total-file-font{
  /* 待改 */
}
