div {
  padding: 1%;
  padding-top: 2%;
}

hr {
  border: 1px solid #00000020;
  width: 100%;
}

input {
  padding: 10px;
  width: auto;
  /* height: 5px; */
}

textarea {
  padding: 10px;
  width: 98%;
  height: 30%;
}

.app {
  width: 80%;
  padding: 20px;
  border: 0px solid #000;
  box-sizing: border-box;
  background-color: #ffffff30;
}

.add {
  margin-top: 20px;
  background-color: #444;
  color: #fff;
  box-sizing: border-box;
  width: 60px;
  height: 25px;
  padding: 5px;
  border-radius: 4px; /*按鈕圓角*/
  border: 1px solid #aaa; /*按鈕描邊外框*/
  align-content: center;
}

.add:hover {
  background-color: #000;
}

.list {
  padding-top: 20px;
}

.item {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newDatasetDiv{
  width: 80%;
}

.remove {
  border: 0;
  background-color: rgb(212, 101, 101);
  color: #fff;
  padding: 10px;
}

.textbox{
  height: 8px;
}
