.head{
  font-size: 44px;
  padding-top: 0;
  }
  
  .div{
  padding-top: 0;
  }
  
  .add {
      margin-top: 20px;
      background-color: #575141;
      color: #fff;
      box-sizing: border-box;
      width: 80px;
      height: 40px;
      padding: 5px;
      margin-right: 10px;
      border-radius: 4px; /*按鈕圓角*/
      border: 1px solid #aaa; /*按鈕描邊外框*/
      align-content: center;
    }
  
  .ahref{
  color: #fff;
  text-decoration: none;
  }
  
  .flex-container{
  display:flex;
  flex-direction:row;
  background-color: #eec39d;
  word-wrap:break-word;
  white-space:pre-wrap;
  padding:0 0 0 0;
  
  }
  
  .left{
    display:flex;
    display: inline;
    width: 20%;
  }
  
  .right{
    display:flex;
    display: inline;
    width: 80%;
  }
  
  h2{
    text-align: center;
  }
  
  .document{
    display:flex;
    flex-direction:row;
  
  }
  
  .descripete{
    word-wrap:break-word;
    width: auto;
  }