.span{  
  display: flex;
  flex-direction: row;
}
.a {
  text-decoration:none;
  color: #e6e2d2;
  font-weight:bold;
}
.container{
  display: flex;
  flex-direction: column;
}
.button {
  font-size:16px;
  width: 100px;
  height: 30px;
  float: right;
  background-color: #6699A4;
  border: none;
  border-radius: 5px;
  margin:0 10px 10px 0;
  box-shadow: 0 3px 3px 0 #6C757D
}
.button:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
}
.conleft{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20vw;
  margin:5vh 2vw 0 4vw;
}
.conright{
  width: 80%;
  margin:1vh 0 0 2vw;
  padding: 2% 4%;
  background-color: #EDE2C4;
  border: 1.5px solid #dad0b5;
  border-radius: 5px;
}
.test{
  display: flex;
  flex-direction: row;
}
.flex-container {
  display: flex;
  flex-direction: row;
  word-wrap:break-word;
  white-space:pre-wrap;
  width: 80vw;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -40vw;
}
.flex-container-header {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  /* text-align: center; */
}
.dataleft{
  width: 50%;
}
.dataright{
  width: 50%;
}
.h6{
  color: #b7aa7e;  
  margin:10px 0px 0px 0px;
  font-family:"Helvetica","Microsoft JhengHei";
}
.h3{
  margin:0px 0px 10px 0px;
  font-family:"Helvetica","Microsoft JhengHei";
}
.h2{
  text-indent: 2em;
  font-family:"Helvetica","Microsoft JhengHei";
}
.logo1{
  width: 4vw;
  float: left;
  position: relative;
  right:11px;
  top:4px;
}
.note{
  font-size: 1rem;
  text-indent:40px;
  font-size: larger;
  margin-top: 20px;
  color: #5D5B53;
}
.note a{
  text-decoration:underline;
  color:#4b70bf;
}
.font-package-title{
  font-size:1.5rem;
  font-weight: bold;
}
.page{
  color: #6699A4;
}
.float-left{
  display: flex;
  flex-wrap :nowrap;
}
.file-container {
  display: flex;
  flex-direction: row;
  word-wrap:break-word;
  white-space:pre-wrap;
  width: 80%;
  margin:2vh 0 0 2vw;
  padding: 2% 4%;
  background-color: #EDE2C4;
  border: 1.5px solid #dad0b5;
  border-radius: 5px;
}
.formate-style{
  width: 60%;
  float: right;
  justify-content: center;
  margin-right: 15%;
}
.formate-a-style{
  flex: 1;
  width: 10%;
}
.formate-a-style a{
  width: 100%;
}
.formate-a-style a img{
  width: 100%;
}
.format-font-title-style{
  color: #595959;
  font-size: 1rem;
  font-weight:bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 顯示的行數 */
  overflow: hidden;
  text-overflow: ellipsis; /* 加上省略號 */
}
.format-font-time-style{
  font-size: 0.8rem;
}
.file-float-row{
  display: flex;
  float: right;
  flex-direction: row;
  margin-top: 0.3rem;
  margin-bottom: 10px;
  width: 100%;
}
.file-float-column{
  justify-content: center;
  display: flex;
  flex:10;
  flex-direction: column;
  border-left-style: solid;
  border-color: #b9b6a3;
  text-indent:10px;
  width: 85%;
}
.conright-file-title{
  color: #595959;
  font-size:large;
  font-weight:bold;
  background-color: rgb(236, 225, 195);
}
.file-hr-style{
  width:70%;
  float: left;
}
.info-div-container{
  display: flex;
  flex-direction: row;
  background-color: #f5f1e5;
  padding: 2%;
}
.info-div-left{
  display: flex;
  flex:1;
  align-items: end;
}
.info-div-right{
  display: flex;
  flex:1;
  align-items: end;
}
.conleft-title-style{
  text-align: center;
  margin-top: 5%;
  background-color: #b5a57f;
  font-size: larger;
  font-weight: bold;
  padding: 2%;
}
.conleft-datasetname-style{
  color: #595959;
  text-align: center;
  background-color: #f5f1e5;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5%;
  border-radius: 10px;
  width: 95%;
}
.conleft-org-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f1e5;
  padding: 2%;
}
.org_img{
  width: 9vw;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}
.tag-button{
  display: flex;
  align-items: center;
  border:none;
  background-color: #D9D9D9;
  color: #455367;
  border-radius:10px;
  margin: 2vh 0 2vh 0.25vw;
  font-size: 0.9rem;
}
.tag-button-container{
  display: flex;
  flex-direction: row;
}
.org_title{
  color: #595959;
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin: 1vh 0 1vh 0;
}
.org_img_container{
  position:relative;
  border-radius: 5%;
  width: 11vw;
  height: 20vh;
  margin: 2vh 0 2vh 0;
}
.route-container{
  display: flex;
  flex-direction: row;
  width: 85%;
  margin:6vh 0 0 2vw;
}
@media screen and (max-height: 600px) {
  .font-package-title{
    font-size: 1.2rem;
  }
  .note{
    font-size: 0.95rem;
  }
  .conleft-datasetname-style{
    font-size: 1.2rem;
  }
  .tag-button{
    font-size: 0.7rem;
  }
  .format-font-title-style{
    font-size: 0.9rem;
  }
  .format-font-time-style{
    font-size: 0.7rem;
  }
  .conleft{
    width: 28vw;
  }
}