.background{
  width: auto;
  height: auto;
  background-color: #EEC39D;
  padding: 40px 20px;
  margin-top: auto;
}
.h1{
  color: #000000;
  left: 100px;
  top:100px;
  font-style: Kokoro;
}
.background1{
  width: auto;
  height: auto;
  background-color: #FFDFB9;
  padding: 300px 20px;
}

.buttonFile {
  padding:0;
  height: 40px;
  width: 90px;
  border: 1px solid #dd5923;
  font-size:16px;
  display: flex;
  align-items: center;
  background-color: #6c757d;
  border-radius: 10px;
  color: white;
  border-color: white;
  border-width: 3px;
  margin-left: 50px;
  justify-content:space-around;
  margin-top: 10px;

}
.upload{
  height: 40px;
  width: 90px;
}
input[type="file"]{
  display: none;
  }
  


.buttonFolder {
  padding:0;
  height: 40px;
  width: 90px;
  border: 1px solid #dd5923;
  font-size:16px;
  display: flex;
  align-items: center;
  background-color: #6c757d;
  border-radius: 10px;
  color: white;
  border-color: white;
  border-width: 3px;
  margin-left: 200px;
  margin-top: -61px;
  justify-content:space-around;
}
.buttonUpload {
  padding: 10px 10px;
  background-color: green;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: auto;
  height: auto;
  border-color: white;
  border-width: 3px;
  font-style: Kokoro;

}
.buttonReset {
  padding:0;
  height: 40px;
  width: 90px;
  border: 1px solid #dd5923;
  font-size:16px;
  display: flex;
  align-items: center;
  background-color: #6c757d;
  border-radius: 10px;
  color: white;
  border-color: white;
  border-width: 3px;
  margin-left: 500px;
  justify-content:space-around;
  margin-top: -59px;

}
.table{
  background-color: #FFDFB9;
  margin-top: -300px;
  font-style: Kokoro;
  text-align: center;
  vertical-align: top;
}





