/* shorturl.at/dT467 */
.wrap {
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}
table {
  align-self: center;
  align-items: center;
  width: 100%;
  border: 1;
  background-color: #ffffff50;
  border-collapse: collapse;
}
th {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  width: 25vw;
  height: 75px;
}

td {
  background-color: #ffffff05;
  color: #000000;
  width: 25vw;
  height: 50px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

tr:hover td {
  background-color: #ffffff50;
  transition: all 0.3s ease-in-out;
}

tr td:first-child {
  color: rgba(0, 0, 0);
  /* border-left:5px solid rgba(79,192,210,0.6); */
  transition: all 0.3s ease-in-out;
}

tr:hover td:first-child {
  color: rgba(79, 192, 210, 1);
  border-left: 5px solid rgba(79, 192, 210, 1);
  transition: all 0.3s ease-in-out;
}

tr {
  border-bottom: 2px solid #2a2a2a20;
}

tr:last-of-type {
  border-bottom: none;
}
