input[type="file"] {
  display: none;
}

.btnFile {
  border-radius: 10px;
  background-color: #6c757d;
  color: white;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 10px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* width: 90px; */
  /* height: 40px; */
  /* border: 1px solid #dd5923; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 90px; */
  /* justify-content: space-around; */
}

.btnReset {
  background-color: #DC3545;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 10px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* 強制元素不分行 */
  /* height: 40px; */
  /* width: 90px; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 500px; */
  /* justify-content: space-around; */
  /* margin-top: -59px; */
}

.btnUpload {
  background-color: #28A745;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  /* 與附近元素的距離 */
  padding: 10px;
  /* 與元素內的距離 */
  white-space: nowrap;
  /* 強制元素不分行 */
  /* height: 40px; */
  /* width: 90px; */
  /* font-size: 16px; */
  /* display: flex; */
  /* align-items: center; */
  /* border-color: white; */
  /* border-width: 3px; */
  /* margin-left: 500px; */
  /* justify-content: space-around; */
  /* margin-top: -59px; */
}

/* ============================= */
.hr {
  border: 3.5px solid rgb(87, 86, 15);
  opacity: 0.1;
}

div {
  margin: 0px;
}

.ready {
  color:rgb(106, 106, 247);
  font-weight: bold;
}
.success {
  color: rgb(0, 142, 0);
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
}

.modal h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.modal-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-button button {
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
