.symptoms-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  word-wrap:break-word;
  white-space:pre-wrap;
  /* 這裡頁面放大會有bug */
}
/* 左側病徵導覽 */
.flex-container-column {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width:16vw;
  height: 100%;
  background-color: #EDE2C4;
  box-shadow: 2px 2px 10px #A2A098;
}
.flex-container-column-index {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 1vh 0 1vh 1vw;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: x-large;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
}
.symptoms-button {
  display: flex;
  align-Items: center;
  padding: 2%;
  border:none;
  background-color: transparent;
  font-size: 20px;
  margin-top: 1vh;
  width: 90%;
  color: #909090;
}
.symptoms-button:hover {
  color: #FFFFFF;
  background-color:#A09274;
  transition: 0.3s;
  border-radius:10px;
}
.symptoms-button:focus {
  color: #455367;
  outline-color: transparent;
  outline-style:solid;
  transition: 0.3s;
  border-radius:10px;
}
.add-symptoms-button{
  font-size: medium;
  color: #FFFFFF;
  border-style:solid;
  background-color: #B7C873;
  border-color: #9EAD6C;
  border-radius:10px;
  padding: 5px;
  margin-right: 10px;
  box-shadow: 1px 1px 2px#878B77;
}

.conRight {
  margin-left: 18vw;
  margin-top: 1.2rem;
  /* margin: 1rem 0.2rem 0.5rem 15rem; */
}
.div{
  color: #FFFFFF;
  font-size: large;
  background-color: #85B2B2;
  border: transparent;
  padding: 1%;
  border-radius:5px;
}
.head-container{
  background-color: #F8EBCA;
}
.dicomManage-conrign-table {
  float: left;
  width: 100%;
}
.dicomManage-conrign-table td {
  text-align: center;
}
.dicomManage-conrign-table thead tr th {
  background-color: #ffffff60;
  border-top: 0.1rem solid #00000033;
  border-bottom: 0.1rem solid #00000033;
  border-left: 0.1rem solid #bbbbbb;
}
.dicomManage-conrign-table thead tr th:first-child {
  border-left: none;
}
.dicomManage-conrign-table tbody tr td {
  background-color: #ffffff40;
  border-left: 0.1rem solid #bbbbbb;
}
.dicomManage-conrign-table tbody tr td:first-child {
  border-left: none;
}
.dicomManage-conrign-table tbody tr:nth-child(even) {
  background-color: #ffffff60;
}
.btnView {
  background-color: #6C757D;
  color: #FFFFFF;
  border: none;
  border-radius:10px;
}
.page{
  color: #6699A4;
}
.flex-container-column-symptom{
  display: flex;
  flex-direction: column;
  width: auto;
  border-left-style: solid;    /* 左邊框 */
  border-width:5px;
  border-color:#85B2B2;
  text-indent:20px;   /* 讓字與左邊框有距離 */
  margin-left: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}
.symptom-fontTitle{
  color: #000;
  font-size: 28px;
}
.symptom-fontIndex{
  float: left;
  color: #6C757D;
  font-size: 14px;
  white-space:nowrap;
}
.symptom-fontIndex2{
  float: right;
  color: #6C757D;
  margin-top: 0.4rem;
  margin-right: 5%;
  font-size: 14px;
  white-space:nowrap;
}
.dicom-btn-container{
  white-space:nowrap;
  display: flex;
  justify-content: right;
}
.pagelist-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.select-condition-num{
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 1.2rem;
}
.actionbutton-container{
  display: flex;
  justify-content: center;
  height: 70%;
}
.alert_font_style{
  font-size: 1.2rem;
  margin-top: 5vh;
  display: flex;
  align-items: end;
  color: #6C757D;
}
.alert_font_style a:hover {
  color: #6699A4; /* 滑鼠懸停時文字顏色變為紅色 */
  text-decoration: underline; /* 滑鼠懸停時顯示下劃線 */
}
@media screen and (max-height: 600px) {
  .symptom-fontTitle{
    font-size: 1.5rem;
  }
}

