.form-container{
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  flex: 2;
  background-color: #EDE2C4;
  border-radius: 5px;
  padding: 2vw;
  box-shadow: 1px 2px 3px #8b8b8b;
}
.form-input-style{
  width: 96%;
  height: 1rem;
  align-self: center;
  border-radius: 5px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  border: 0;
  margin-bottom: 2vh;
  font-size: 1rem;
  padding: 0.75rem;
}
.edit-flex-container {
  display: flex;
  flex-direction: row;
  word-wrap:break-word;
  white-space:pre-wrap;
  width: 60vw;
  position: absolute;
  left: 50%;
  margin: 5vh 0 0 -30vw;
}
.edit-conleft{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:2% 3vw 0 4%;
  flex: 1;
}
.edit-title-style{
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #595959;
  margin-bottom: 2vh;
}
.edit-must-fill{
  color: #DC3545;
}
.edit-save-button{
  font-size: medium;
  background-color: #2F5597;
  border: 0;
  color: #FFFFFF;
  border-radius: 5px;
  width: 3vw;
  height: 3vh;
  margin-right: 1vw;
  box-shadow: 1px 2px 3px #8b8b8b;
}
.edit-cancel-button{
  font-size: medium;
  background-color: #767171;
  border: 0;
  color: #FFFFFF;
  border-radius: 5px;
  width: 4vw;
  height: 3vh;
  margin-right: 1vw;
  box-shadow: 1px 2px 3px #8b8b8b;
}
.delete-dataset-button{
  font-size: medium;
  border: 0;
  background-color: #b0424d;
  color: #FFFFFF;
  border-radius: 5px;
  width: 7vw;
  margin-right: 2rem;
  height: 3vh;
  box-shadow: 1px 2px 3px #8b8b8b;
}