div{
  padding: 0;
}
.head{
  background-color: #E6D4AB;
  padding-left:3%;
  width: auto;
}
.content{
  margin:2% 3% 0 3%;
  padding: 1%;
  word-wrap:break-word;  /*元素換行*/
  width: auto;
  background-color: #EDE2C4;
}
a{
  color: inherit;
  text-decoration: none;
}
header nav {
  height: 10%;
  background-color: #85B2B2;
  color: white;
}
header nav ul{
  background-color: #85B2B2;
  list-style-type: none;   /* 移除項目符號 */
  margin: 0;
  padding: 0;
}
header nav ul li{
  display: list-item;
  text-align: -webkit-match-parent;
  float: left;
}
header nav ul li a, .newDatasetBtn{
  background-color: #85B2B2;
  margin: 5px;
  padding:5px;
}
